<template name="vslide1">
    <div class="vslide">
        <div class="vslide-content"> <!-- important if you want horizontal and vertical aligning -->
            <h1>
                METEOR DAY
            </h1>
            <h2>
                Introduction to Meteor
            </h2>
        </div>
    </div>
</template>