<template name="vslide14">
    <div class="vslide">
        <div class="vslide-content"> <!-- important if you want horizontal and vertical aligning -->
            <h1>
                Now it’s your turn!
            </h1>
            <h2>
                Let’s install Meteor
            </h2>
        </div>
    </div>
</template>