<template name="vslide13">
    <div class="vslide">
        <div class="vslide-content"> <!-- important if you want horizontal and vertical aligning -->
            <div class="vslide-col-1"> <!-- centered, responsive one column, text align left -->
                <h1>Learning resources meteor.com/learn</h1>
                <ul class="big">
                    <li>
                        Official Meteor tutorial at <a href="http://meteor.com/install">meteor.com/install</a>
                    </li>
                    <li>
                        Discover Meteor (get first 8 chapters for free!) <a href="http://book.discovermeteor.com/starter">book.discovermeteor.com/starter</a>
                    </li>
                    <li>
                        Stack Overflow, tagged Meteor
                    </li>
                    <li>
                        Docs – <a href="http://docs.meteor.com">docs.meteor.com</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</template>