<template name="vslide8">
    <div class="vslide">
        <div class="vslide-content"> <!-- important if you want horizontal and vertical aligning -->
            <div class="vslide-col-1"> <!-- centered, responsive one column, text align left -->
                <h1>Components</h1>
                <ul class="big">
                    <li>
                        Livequery – watch DB queries
                    </li>
                    <li>
                        DDP – send data back and forth to the client
                    </li>
                    <li>
                        Minimongo – store data and do DB queries on the client
                    </li>
                    <li>
                        Tracker – the thing that enables reactive updates
                    </li>
                    <li>
                        Blaze – rendering the view based on Tracker updates!
                    </li>
                    <li>
                        Read about all of this on the Projects page – <a href="http://meteor.com/projects">meteor.com/projects</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</template>