<template name="vslide11">
    <div class="vslide">
        <div class="vslide-content"> <!-- important if you want horizontal and vertical aligning -->
            <h1>Businesses built on Meteor</h1>
        </div>
    </div>
</template>