<template name="vslide4">
    <div class="vslide">
        <div class="vslide-content"> <!-- important if you want horizontal and vertical aligning -->
            <div class="vslide-col-1"> <!-- centered, responsive one column, text align left -->
                <h1>How modern apps look and feel</h1>
                <ul class="big">
                    <li>
                        Focus on your app’s unique features instead of wrangling network code
                    </li>
                    <li>
                        Meteor’s Goal: Facebook-quality apps without Facebook’s money
                    </li>
                </ul>
            </div>
        </div>
    </div>
</template>