<template name="vslide5">
    <div class="vslide">
        <div class="vslide-content"> <!-- important if you want horizontal and vertical aligning -->
            <div class="vslide-col-1"> <!-- centered, responsive one column, text align left -->
                <h1>Old tools don’t work for modern apps</h1>
                <ul class="big">
                    <li>
                        modern apps serve data, not html
                    </li>
                    <li>
                        modern apps can’t have a refresh button
                    </li>
                    <li>
                        as a result: have to switch away from the old architecture
                    </li>
                    <li>
                        Rails, Django, PHP, ASP.NET, etc: built around old architecture, difficult to adapt to the new model
                    </li>
                </ul>
            </div>
        </div>
    </div>
</template>