<template name="vslide9">
    <div class="vslide">
        <div class="vslide-content"> <!-- important if you want horizontal and vertical aligning -->
            <div class="vslide-col-1"> <!-- centered, responsive one column, text align left -->
                <h1>Example apps</h1>
                <ul class="big">
                    <li>
                        Meteor ships with several example apps
                    </li>
                    <li>
                        Todos, a full-featured todo list app
                        {{> vslide9codeSample1}}
                    </li>
                    <li>
                        Local Market, a mobile social engagement app
                        {{> vslide9codeSample2}}
                    </li>
                    <li>
                        What you can build after learning a little more about Meteor
                    </li>
                </ul>
            </div>
        </div>
    </div>
</template>

<template name="vslide9codeSample1">
{{#markdown}}
```bash
$ meteor create --example todos
```
{{/markdown}}
</template>

<template name="vslide9codeSample2">
{{#markdown}}
```bash
$ meteor create --example localmarket
```
{{/markdown}}
</template>