<template name="vslide12">
    <div class="vslide">
        <div class="vslide-content"> <!-- important if you want horizontal and vertical aligning -->
            <div class="vslide-col-1"> <!-- centered, responsive one column, text align left -->
                <h1>Growing rapidly</h1>
                <ul class="big">
                    <li>
                        Over 150 meetup groups around the world – <a href="http://meteor.meetup.com">meteor.meetup.com</a>
                    </li>
                    <li>
                        Over 2000 community-authored packages - <a href="http://atmospherejs.com">atmospherejs.com</a>
                    </li>
                    <li>
                        Discover Meteor has made over $300,000 in book sales (as of Sep 2014)
                    </li>
                    <li>
                        #11 on GitHub (just passed Backbone, will soon pass Rails)
                    </li>
                </ul>
            </div>
        </div>
    </div>
</template>