<template name="vslide6">
    <div class="vslide">
        <div class="vslide-content"> <!-- important if you want horizontal and vertical aligning -->
            <div class="vslide-col-1"> <!-- centered, responsive one column, text align left -->
                <h1>Meteor’s cloud/client platform</h1>
                <ul class="big">
                    <li>
                        Meteor gives you all of the components you need to make modern apps work – it’s a complete platform, not just a library to solve one problem !
                    </li>
                    <li>
                        Let’s go right into the demo to see how it feels to use and then we’ll explain how the pieces fit together
                    </li>
                </ul>
            </div>
        </div>
    </div>
</template>