<template name="vslide2">
    <div class="vslide">
        <div class="vslide-content"> <!-- important if you want horizontal and vertical aligning -->
            <div class="vslide-col-1">
                <h1>Outline</h1>
                <ul class="big">
                    <li>What Meteor actually is</li>
                    <li>Live code a simple Meteor app</li>
                    <li>Example apps</li>
                </ul>
            </div>
        </div>
    </div>
</template>