<template name="vslide10">
    <div class="vslide">
        <div class="vslide-content"> <!-- important if you want horizontal and vertical aligning -->
            <div class="vslide-col-1"> <!-- centered, responsive one column, text align left -->
                <h1>Workpop</h1>
                <ul class="big">
                    <li>
                        Built on Meteor
                    </li>
                    <li>
                        Raised $7.9 million Series A led by Trinity Ventures
                    </li>
                    <li>
                        Trinity Ventures funding announcement: “most rapid prototyping, iteration and development we’ve ever seen from an early stage company"
                    </li>
                </ul>
            </div>
        </div>
    </div>
</template>