<template name="vslide7">
    <div class="vslide">
        <div class="vslide-content"> <!-- important if you want horizontal and vertical aligning -->
            <h1>
                Short demo!
            </h1>
            <h2>
                Let’s make a super simple app
            </h2>
        </div>
    </div>
</template>