<template name="vslide3">
    <div class="vslide">
        <div class="vslide-content"> <!-- important if you want horizontal and vertical aligning -->
            <div class="vslide-col-1">
                <h1>What is Meteor</h1>
                <ul class="big">
                    <li>Open-source platform for building web and mobile apps in JavaScript</li>
                    <li>
                        Built to power the next generation of apps
                        <ul>
                            <li>
                                Rich user interfaces
                            </li>
                            <li>
                                Collaborative multi-user applications
                            </li>
                            <li>
                                Cross platform apps
                            </li>
                            <li>
                                Fast development
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</template>