<template name="privSlideshowView">
    <nav class="slideshow-navigation">
        <a href="#" class="prev">
            <i class="fa fa-chevron-left"></i>
        </a>
        <a href="#" class="next">
            <i class="fa fa-chevron-right"></i>
        </a>
    </nav>
    {{#momentum plugin='right-to-left2'}}
        {{> Template.dynamic template=template}}
    {{/momentum}}
</template>